{% extends 'admin/parts/layout_base.twig' %}

{% block body %}
<h2>メニュー</h2>
<ul>
  <li><a href="/admin/item">商品一覧</a>
  <li><a href="/admin/logout">ログアウト</a>
</ul>

{% block contents %}{% endblock %}

{% endblock %}
